<h1><%= @category.description %> Recipes</h1>

<% if @recipes.any? %>
  <h4>Here are your recipes:</h4>
  <ul>
    <% @recipes.each() do |recipe| %>
    <li><a href='/category/<%= @category.id %>/recipe/<%= recipe.id %>'><%= recipe.name %></a></li>
    <% end %>
  </ul>

  <% else %>
  <p>You have not created any recipes yet.</p>

  <% end %>

  <form action='/category/<%= @category.id %>' method='post'>
    <div class='form-group'>
      <input name="_method" type="hidden" value="delete">
      <button id='delete_category' class='btn btn-danger'>Delete Category</button>
    </div>
  </form>

  <a href='/'>Back</a>
