<h1><%= @recipe.name %></h1>
<p>Rating: <%= @recipe.rating %></p>

<p><b>Instructions:</b></p>
<p><%= @recipe.instruction %></p>

<p><form action="/category/<%= @category.id %>/recipe/<%= @recipe.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    <input name="name" id="name" placeholder="edited recipe name" type="text">
    <input name="instructions" id="instructions" placeholder="edit recipe instruction" type="text">

    <label for="rating_dropdown">Edit Rating</label>
    <select id='rating_dropdown' name='rating_dropdown' type='text'>
      <option value="1"> 1 </option>
      <option value="2"> 2 </option>
      <option value="3"> 3 </option>
      <option value="4"> 4 </option>
      <option value="5"> 5 </option>
    </select>

    <button type="update_recipe" class="btn-success">Update Recipe</button>
  </form></p>


<form action='/category/<%= @category.id %>/recipe/<%= @recipe.id %>' method='post'>
  <div class='form-group'>
    <input name="_method" type="hidden" value="delete">
    <button id='delete_recipe' class='btn btn-danger'>Delete Recipe</button>
  </div>
</form>

<a href='/'>Home</a>
